body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  cursor: pointer;
}

#pagination {
  text-align: center;
  margin-top: 20px;
}

#pagination a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  margin: 2px;
  cursor: pointer;
}

#pagination a:hover {
  background-color: #ddd;
}
